integrations/nodered/flows.json
[{"id":"31bdba05287e2033","type":"tab","label":"TTN MQTT","disabled":false,"info":"","env":[]},{"id":"097b51db9b90ccc8","type":"mqtt in","z":"31bdba05287e2033","name":"TTN","topic":"v3/app-dev-1@ttn/devices/#","qos":"2","datatype":"auto-detect","broker":"133396310eab9408","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":120,"wires":[["cd00020f9cb46991","0f139f326a6ae075"]]},{"id":"cd00020f9cb46991","type":"debug","z":"31bdba05287e2033","name":"MQTT InTopic","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"7c8e2ecbf0ac5b04","type":"debug","z":"31bdba05287e2033","name":"InfluxDb Entry","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"0f139f326a6ae075","type":"function","z":"31bdba05287e2033","name":"Create InfluxDB Entry","func":"var entryMsg = {};\n\nentryMsg.measurement = msg.payload.end_device_ids.device_id;\nentryMsg.payload = msg.payload.uplink_message.decoded_payload;\nentryMsg.payload.f_cnt = msg.payload.uplink_message.f_cnt;\nentryMsg.payload.received_date = Date.now();;\n\ndelete (entryMsg.payload.preamble);\ndelete (entryMsg.payload.status);\ndelete (entryMsg.payload.crc8le);\n\nreturn entryMsg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["7c8e2ecbf0ac5b04","ce519f2b43bffbe1"]]},{"id":"ce519f2b43bffbe1","type":"influxdb out","z":"31bdba05287e2033","influxdb":"ef8551d8.73eff","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":260,"wires":[]},{"id":"133396310eab9408","type":"mqtt-broker","name":"TTN","broker":"eu1.cloud.thethings.network","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ef8551d8.73eff","type":"influxdb","hostname":"192.168.4.41","port":"8086","protocol":"http","database":"mydb1","name":"MyDB1","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false}]